.category-tile {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
